<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        width:50%;
    }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
            border-collapse: collapse;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
            background: #FFFFFF;
            color: #284DA6;
        }

        .tg .tg-lboi {
            border-color: inherit;
            text-align: center;
            vertical-align: middle
        }

        .tg .tg-c3ow {
            border-color: inherit;
            text-align: center;
            vertical-align: central;
            background: #7EA6E1;
            color: #051C3B;
        }
        .tg .tg-c2ow {
            border-color: inherit;
            text-align: center;
            vertical-align: top;
            background: #FFFFFF;
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: center;
            vertical-align: top;
            color: #0B1E3E;
            background:#FFFFFF;
        }
        .tg .tg-1pky {
            border-color: inherit;
            text-align: center;
            vertical-align: top;
            color: #0B1E3E;
            background: #fff44f
        }
        .tg .tg-2pky {
            border-color: inherit;
            text-align: center;
            vertical-align: top;
            background: #FC2815;
        }
        .tg .tg-c2ow .btn-IQA {
            background-color: #FFFFFF;
            border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
            color: #0066cc;
            opacity: inherit;
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            font-weight:bold;
        }
    
</style>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-c2ow" colspan="2">
                @*<button type="button" class="modal-submit btn-medium btn-verification-border btn-verification" data-action="@Url.Action("IQAResult")">*@
                <button type="button" class="modal-submit btn-IQA" data-action="@Url.Action("IQAResult")">
                    IQA Result
                </button>
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>


            <td class="tg-c3ow"> IQA  </td>
            @{
                if (ViewBag.IQA == "2")
                {

                    <td class="tg-0pky">Ok</td>
                }
                else if (ViewBag.IQA == "1")
                {
                    <td class="tg-2pky">Not OK</td>
                }
                else
                {
                    <td class="tg-1pky">Not Available</td>

                }
            }
        </tr>
        <tr>
            <td class="tg-c3ow">UV</td>
            @{
                if (ViewBag.UV == "2")
                {

                    <td class="tg-0pky">Ok</td>
                }
                else if (ViewBag.UV == "1")
                {
                    <td class="tg-2pky">Not OK</td>
                }
                else
                {
                    <td class="tg-1pky">Not Available</td>

                }
            }
        </tr>
        <tr>
            <td class="tg-c3ow">QR Code</td>
            @{
                if (ViewBag.QRCode == "2")
                {

                    <td class="tg-0pky">Ok</td>
                }
                else if (ViewBag.QRCode == "1")
                {
                    <td class="tg-2pky">Not Ok</td>
                }
                else
                {
                    <td class="tg-1pky">Not Available</td>

                }
            }

        </tr>
        <tr>
            <td class="tg-c3ow">MICR</td>
            @{
                if (ViewBag.MicrPresent == "2")
                {

                    <td class="tg-0pky">Yes</td>
                }
                else
                {
                    <td class="tg-2pky">No</td>

                }
            }
        </tr>
        <tr>
            <td class="tg-c3ow">STD</td>
            @{
                if (ViewBag.STD == "2")
                {
                    <td class="tg-0pky">Standard</td>
                }
                else
                {
                    <td class="tg-2pky">Not Standard</td>

                }
            }
        </tr>
        <tr>
            <td class="tg-c3ow">DUP</td>
            @{
                if (ViewBag.Duplicate == "2")
                {

                    <td class="tg-1pky">Represent again</td>
                }
                else if (ViewBag.Duplicate == "1")
                {
                    <td class="tg-2pky">NOT OK</td>
                }
                else
                {
                    <td class="tg-0pky">Not Duplicate</td>

                }
            }

        </tr>
        <tr>
            <td class="tg-c3ow">Capture</td>
            @{
                if (ViewBag.Capture == "N")
                {
                    <td class="tg-0pky">NIFT</td>
                }
                else
                {
                    <td class="tg-1pky">Branch</td>

                }
            }
        </tr>
        <tr>
            <td class="tg-c3ow">Deffered</td>
            @{
                if (ViewBag.Defered == "1")
                {
                    <td class="tg-2pky">Defered Check</td>
                }
                else
                {
                    <td class="tg-0pky">Non Deferred Check</td>
                }
            }
        </tr>
        <tr>
            <td class="tg-c3ow">Fraud</td>
            @{
                if (ViewBag.Fraud == "1")
                {
                    <td class="tg-2pky">Fraud History reported</td>
                }
                else
                {
                    <td class="tg-0pky">No Fraud History Reported </td>
                }
            }
        </tr>
        <tr>
            <td class="tg-c3ow">UnderSize Image</td>
            @{
                if (ViewBag.UnderSizeImage == "1")
                {
                    <td class="tg-2pky">Not Ok</td>
                }
                else if (ViewBag.UnderSizeImage == "2")
                {

                    <td class="tg-0pky">ok</td>
                }
                else
                {
                    <td class="tg-1pky">No Fraud History Reported </td>
                }
            }
        </tr>
        <tr>
            <td class="tg-c3ow">Folded or <br />Torn Document <br/> Corners</td>
            @if (ViewBag.FoldedorTornDocumentCorners == "1")
            {
                <td class="tg-2pky">Not Ok</td>
            }
            else if (ViewBag.FoldedorTornDocumentCorners == "2")
            {

                <td class="tg-0pky">ok</td>
            }
            else
            {
                <td class="tg-1pky">N/A</td>
            }

        </tr>
        <tr>
            <td class="tg-c3ow">Folded or <br />Torn Document <br />Edges</td>
            @if (ViewBag.FramingError == "1")
            {
                <td class="tg-2pky">Not Ok</td>
            }
            else if (ViewBag.FramingError == "2")
            {

                <td class="tg-0pky">ok</td>
            }
            else
            {
                <td class="tg-1pky">N/A</td>
            }

        </tr>



    </tbody>
</table>