<div id="signatureViewerContainer">
    <div class="row">

        @*<div id="signatureImages">
                    @* <div id="signatureSearchContainer">
                <div id="signatureResult" class="pull-left"></div>
                <div id="signatureSearch" class="pull-right">
                    Account Number <input id="searchAccountNumber" value="@ViewBag.InwardItemViewModel.getField("fldHostAccountNo")" />
                    <a id="searchSignature" class="btn btn-default btn-xs">Search</a>
                </div>
                <div style="clear:both"></div>
            </div>
                    <div id="signatureContainer">

                        <img src="~/Content/Images/spin.gif" class="signature-loader small-loader hidden" style="position: absolute;margin: 70px;" />
                        <div id="signatureGallery"></div>
                        <div style="clear:both"></div>
                    </div>
                </div>*@

    </div>
</div>
