@using INCHEQS.Resources
<div class="table table-bordered mTop10" id="divChqAmtList" style="display: none;">
    <table id="tblChqAmtList"></table>
</div>
<div class="table table-bordered mTop10" id="divAccNoList">
    <table id="tblAcctNoList" style="width:100%;"></table>
</div>