@using INCHEQS.Resources
@using System.Data;
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
    <meta name="viewport" content="width=device-width" />

    <title>INCHEQS</title>
    @*@Scripts.Render("~/bundles/ez-plus")*@
    @*@Scripts.Render("~/bundles/ChequeVerification")*@
    @*@Scripts.Render("~/bundles/RejectCodeApi")*@
</head>
<body>
    <div>
       <div id="renderbody">
            @RenderBody()
        </div>
    </div>
</body>
</html>

@*<script src="~/Scripts/OCS/close.js"></script>*@
@*<script src="~/Scripts/OCS/scan.js"></script>*@
