<div id="left-menu" class="hidden">
    <div id="left-panel" class="left-panel ">
        <div id="sub-menu" class="sub-menu">
            @*XX EDIT*@
            <table width="200"></table>
            @*XX END*@
            <h5 class="heading">
                @ViewBag.MainMenuTitle
            </h5>
            <img src="~/Content/Images/spin.gif" class="submenu-loader small-loader hidden" />
            <div class="menu-holder"></div>
        </div>

    </div>


    <div class="switcher" data-toggle="tooltip" data-placement="top" title="Toggle Sub Menu">
        <span class="glyphicon glyphicon-arrow-left switcher-icon"></span>
    </div>
</div>