@*Modal Content
    *@
<div class="modal-content" style="width: 760px; height: 2000px;">
    <div class="modal-header">
        <h4 class="modal-title result-bar">ICSImport</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12" id="">
                <div class="progress" style="height:60px">
                    <h2 class="percentage" >0%</h2>
                    <div class="progress-bar-success progress-striped active progress-bar" style="width: 0; background-color: #428BCA " aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            
        </div>
    </div>

</div>