

<td>
    <input type="checkbox" name="cheque1">
</td>
<td>
    <img src="data:image/png;base64, @ViewBag.SignatureInfo.fldSignatureImage" style="width:150px; height:100px;border: 1px solid #000;" />
</td>
<td>
    <input type="checkbox" name="cheque2">
</td>
<td>
    <img src="data:image/png;base64, @ViewBag.SignatureInfo.fldSignatureImage" style="width:150px; height:100px;border: 1px solid #000;" />
</td>
<td>
    <input type="checkbox" name="cheque3">
</td>
<td>
    <img src="data:image/png;base64, @ViewBag.SignatureInfo.fldSignatureImage" style="width:150px; height:100px;border: 1px solid #000;" />
</td>

