@*Modal Content*@
<div class="modal-content" style="width:760px;height:200px">
    <div class="modal-body">
        <h4 class="result-bar">Host Validation</h4>
        <div class="progress" style="height:60px">

            <div class="progress-bar-success progress-striped active progress-bar" style="width: 0; background-color: #428BCA " aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
            <h2 class="percentage">0%</h2>
        </div>
    </div>

</div>

