
<div class="row">

    @*<div id="signatureInfo">
            <div>
                <table class="table table-condensed" id="signatureInfoTable">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Effective Date</th>
                            <th>Expired Date</th>
                            <th>Approval Date</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                    <tbody></tbody>
                </table>
            </div>
        </div>*@

    <table id="signatureInfoTable" style="float:right;margin-top:100px"></table>

    <div class="col-sm-4" style="height:50px">

        <div id="signatureInfo" style="margin-top:100px">

        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /> <br /><br /> 
    <button type="button" data-btnfor="largesig" class="big-sig-btn btn btn-default btn-xs">Big Signature</button>
</div>
   

