@using INCHEQS.Resources
@using INCHEQS.Common

<html>

<body>
    @using (Html.BeginForm("", "", FormMethod.Post, new { @Class = "form-inline secure-form", id = "Reminder" }))
    {
        <div>
            <h4>Please click 'Search' first</h4>
        </div>
    }
</body>

</html>
