<!--
To Encrypt:
  1. Open CMD as administrator. 
  2. Run ASPNET_REGIIS command against web.config path
    - C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pef "connectionStrings" "<Path To Application Web.Config>"
  3. Give Access to Logged In User to Decrypt On Application Level. using this:
    - C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pa NetFrameworkConfigurationKey "server\incheqsuser" -full
  
e.g.  
- C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pef "connectionStrings" "C:\Users\Abi Dzar\Documents\Development\INCHEQS.ICS.V2\INCHEQS" 
- C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pa NetFrameworkConfigurationKey "server\incheqsuser" -full
  
  
To Change And Decrypt:
  1. Run ASPNET_REGIIS command on the same application
    
e.g.
C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pdf "connectionStrings" "C:\Users\Abi Dzar\Documents\Development\INCHEQS.ICS.V2\INCHEQS.ICS"


<connectionStrings>
   <add name="default" connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Integrated Security=False;Initial Catalog=ACH_COMMON_1.0;User ID=sa;Password=incheqs2008;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
        providerName="System.Data.SqlClient" />
   <add name="ics_connection_string" connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Initial Catalog=ACH_COMMON_1.0;User ID=sa;Password=incheqs2008;Integrated Security=False"
        providerName="System.Data.SqlClient" />
   <add name="ocs_connection_string" connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Initial Catalog=ACH_COMMON_1.0;User ID=sa;Password=incheqs2008;Integrated Security=False"
       providerName="System.Data.SqlClient" />
   <add name="sds_connection_string" connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Initial Catalog=INCHEQS_SDS;User ID=sa;Password=P@ssw0rd;Integrated Security=True"
        providerName="System.Data.SqlClient" />
   <add name="rpa_connection_string" connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Initial Catalog=OFA_RPA;User ID=sa;Password=P@ssw0rd;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  <add name="atv_connection_string" connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Initial Catalog=OFA_ATV;User ID=sa;Password=P@ssw0rd;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>

-->
<connectionStrings>

	<add name="default" connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Integrated Security=False;Initial Catalog=RHB_DEMO_ICS;User ID=sa;Password=incheqs2008;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
	<add connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Initial Catalog=RHB_DEMO_ICS;User ID=sa;Password=incheqs2008;Integrated Security=True" name="ics_connection_string" providerName="System.Data.SqlClient" />
	<add connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Initial Catalog=RHB_DEMO_ICS;User ID=sa;Password=incheqs2008;Integrated Security=True" name="ocs_connection_string" providerName="System.Data.SqlClient" />
	<add name="ConnectionString" connectionString="Dsn=SQLServer;uid=incheqsuser;pwd=incheqs2008" providerName="System.Data.Odbc" />
	<add connectionString="Data Source=DESKTOP-1ULGF16\INCHEQSUSER;Initial Catalog=RHB_DEMO_SDS;User ID=sa;Password=incheqs2008;Integrated Security=True" name="sds_connection_string" providerName="System.Data.SqlClient" />
</connectionStrings>