@using INCHEQS.Resources


<label>Remarks</label>
<textarea name="textAreaRemarks" placeholder="" maxlength="140" value="@ViewBag.InwardItemViewModel.getField("fldRemarks")">@ViewBag.InwardItemViewModel.getField("fldRemarks")</textarea>
<input type="hidden" id="remarkField" name="remarkField" value="">