@using INCHEQS.Resources
<div id="chequeImageContainer">
    <div id="imageHolder" class="cheque-img rotated180">
        <input type="hidden" id="imageFolder" name="imageFolder" value="@ViewBag.InwardItemViewModel.getFormatImageFolderPath()" />
        <img id="chequeImage" class="chequeImage" />
    </div>
</div>